
.input-feild{
    margin-left: 300px;
    padding-right: 1000px;
    padding-left: 10px;

}
.country-list-container{
    padding-top: 40px;
    padding-left: 300px;
}
.card-container.container{
    padding-top: 40px;
    padding-left: 120px;
}