.card-box{
    border: solid 0.05px;
}
.card-header{
    width: 18rem;
}
.country-local-name{
    font-size: 12px;
}
.list-group-item{
    font-weight: bold;
}
.country-card-prop{
    font-weight: 400;
    margin-right: 50px;
}
#countryProp{
    font-weight: 300;
}
